<%= render "layouts/page_title" %>
<div class="text-center">
<form class="form-signin">
  <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
  <label for="inputEmail" class="sr-only">Email</label>
  <input type="email" id="inputEmail" class="form-control" placeholder="Adresse Email" required="" autofocus="">
  <%= link_to "Connexion", home_index_path, id: "login", class: "btn btn-lg btn-primary btn-block mt-1" %>
  <p class="mt-5 mb-3 text-muted">EPFL Extension School</p>
</form>
</div>
