<div class="card col-md-4 m-auto">
  <img src="http://placeimg.com/640/480/animals" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= title %></h5>
    <p class="card-text"><i><%= text %></i></p>
    <p><%= link_to 'Continue...', article_path(id), class:'btn btn-secondary' %></p>
  </div>
</div>
